//comand
$bgColor: #000000;
$Color1: #b20000;
$Color2: #0003aa;
$Color3: #000000;
$BgSize: cover;

html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: 'normal';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    background-color:white;
    color: $Color3;
}

.wrapper{
    max-width: 1250px;
    margin:  auto;
    padding: 0 15px;
}

.wrapper-full{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

//Header 

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: .2s linear;
    padding-bottom: 20px;
    z-index: 999;
    background-color: #000000;
    
}

.header__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content:space-between;
    padding-top: 56px;
}

.header__list{
    display: flex;
    flex-wrap: wrap;
}

.header__item{
    height: 64px;
    margin-right: 25px;
}

.header__item-secound{
    margin-right: 550px;
}

.header__item:last-child{
    margin-right: 0;
}

.header__link{
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none;
}
.header__link:hover, .header__link:focus, .header__link:active{
    opacity: .75;
}

.header__logo{
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

//Intro

.intro{
    height: 100vh;
    background: url(../img/svg/Rider_Home_bg_1.png)  center ;
    background-size: $BgSize;
}
.intro-2{
    height: 50vh;
    background: url(../img/svg/Group_39.svg)  center ;
    background-size:$BgSize;
}

.intro-3{
    height: 90vh;
    background: url(../img/svg/Group_114.svg)  center ;
    background-size:$BgSize;
}

.intro-4{
    height: 100vh;
    background: url(../img/svg/Group_48.svg)  center ;
    background-size:$BgSize;
}

.intro-5{
    height: 23vh;
    background: url(../img/svg/Group_113.svg)  center ;
    background-size:$BgSize;
}

.intro-6{
    height: 50vh;
    background: url(../img/svg/Group_58.svg)  center ;
    background-size:$BgSize;
}


.Request{
position: absolute;
width: 576px;
height: 506.62px;
left: 120px;
top: 160px;
background-color: aliceblue;
}

.Request__wrap{
    max-width: 576px;
    background-color: aliceblue;
    margin: 0 auto;
}

.Request__title{
    font-weight: 500;
    font-size: 52px;
    line-height: 61px;
    text-align: center;
    color: #000000;
}

.Request__item{
    margin-right: 160px;
}

.Request__link{
    font-size: 18px;
    line-height: 24px;
    color:#000000;
    text-decoration: none;
}

.Request__list{
    display: flex;
    flex-wrap: wrap;
}

.Request__link:hover, .Request__link:focus, .Request__link:active{
    opacity: .75;
}

.videos{
    width: 100%;
}

.videos__wrapper{
    height: 550px;
    max-width: 1250px;
    margin: 0 auto;
    position: relative;
    background-color: #000000;
}

.video__item{
    padding-top: 56.25%;
}

.video__element{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}